<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Cadastro de Pacientes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>

    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand">Cadastro de Pacientes</a>

            <form th:action="@{/pacientes}" class="d-flex" role="search">

                  <input class="form-control me-2" type="search" name="keyword" th:value="${keyword}" required placeholder="Pesquisar" aria-label="Search">
                  <div class="me-2"><button class="btn btn-outline-success" type="submit">Pesquisar</button></div>
                  <div class="me-2"><button type="button" class="btn btn-outline-secondary" value="Clear" onclick="clearFilter()">Limpar</button></div>
            </form>

        </div>
    </nav>

    <div class="container-fluid text-center">
        <div class="m-2">
            <a th:href="@{/pacientes/novo}"><button type="button" class="btn btn-success">Novo Paciente</button></a>
            <a th:href="@{/portal}"><button type="button" class="btn btn-secondary">Voltar</button></a>
        </div>

        <div th:if="${message}" class="alert alert-success text-center">
            [[${message}]]
        </div>

        <div class="mr-2 table-responsive">
            <table class="table table-striped">
                <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>N° de Inscrição</th>
                    <th>Convênio</th>
                    <th>Telefone</th>
                    <th>Celular</th>
                    <th>E-mail</th>
                    <th>Prioridade</th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                <th:block th:each="paciente : ${pacienteList}">
                    <tr>
                        <td>[[${paciente.id}]]</td>
                        <td>[[${paciente.nome}]]</td>
                        <td>[[${paciente.numeroDeInscricao}]]</td>
                        <td>[[${paciente.convenio}]]</td>
                        <td>[[${paciente.telefone}]]</td>
                        <td>[[${paciente.celular}]]</td>
                        <td>[[${paciente.email}]]</td>
                        <td>[[${paciente.prioridade}]]</td>
                        <td>
                            <a th:href="@{'/pacientes/view/' + ${paciente.id}}"><button type="button" class="btn btn-primary">Visualizar</button></a>
                            <a th:href="@{'/pacientes/edit/' + ${paciente.id}}"><button type="button" class="btn btn-warning">Editar</button></a>
                            <a th:href="@{'/pacientes/delete/' + ${paciente.id}}"><button type="button" class="btn btn-danger btnDel">Deletar</button></a>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/javascript.js}"></script>
    <script type="text/javascript">
        function clearFilter() {
            window.location = '/pacientes'
        }
    </script>
</body>
</html>