<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
</head>
<body>
<form th:action="@{/registration}" method="post" th:object="${user}">
    <label>
        <input name="username" type="text" placeholder="username" th:field="*{username}">
    </label>
    <label>
        <input name="password" type="password" placeholder="password" th:field="*{password}">
    </label>
    <input type="submit" value="Register">
</form>
<a href="/">Portal</a>
<a href="/portal">Login</a>
</body>
</html>